@model IList<JensensWebApp.Models.Article>

@{
    ViewBag.Title = "Articles";

    Dictionary<string, string> topicDisplayNames = new Dictionary<string, string>
{
    {"Halsa", "Hälsa"},
    {"SamhalleKonflikter", "Samhälle och Konflikter"},
    {"Miljo", "Miljö"},
    {"VetenskapTeknik", "Vetenskap och Teknik"},
    {"LivsstillFritt", "Livsstil och Fritid"},
    {"Ekonomi", "Ekonomi"},
    {"Religion", "Religion"},
    {"Idrott", "Idrott"}
};

}
<section class="main__top-feed">
    <h1>Dagen nyheter</h1>
    <div class="New-card-layout">
		@foreach (var article in Model.Where(i => i.Published >= DateTime.Today))
        {
            <div class="New-card">
                <h5>@article.Title</h5>
                <p>@article.Summary</p>
                <a href="@article.Link" target="_blank">Visa mer</a>
                <p><small>@article.Published.ToString("yyyy-MM-dd HH:mm:ss")</small></p>
            </div>
        }
    </div>
    <button id="show-more">Visa mer</button>
</section>

<section class="main__bottom-feed">
	<h1>Äldre nyheter</h1>

	<div class="Other-card-layout">
		@foreach (var article in Model.Where(i => i.Published < DateTime.Today))
		{
			<div class="Other-card">
				<h5>@article.Title</h5>
				<a href="@article.Link" target="_blank">Read more</a>
				<p class="r">Published: 2023/06/23</p>
			</div>
		}
		@*
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		<div class="Other-card">
			<a href="">Read more</a>
			<h5>Title</h5>
			<p class="r">Published: 2023/06/23</p>
		</div>
		*@
	</div>
    <button id="show-more-old">Visa mer</button>
</section>